@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url('fontes/VINTAGE\ COLLEGE\ DEPT_worn.otf') format('opentype');
  }

@font-face {
    font-family: subtitulo;
    src: url('fontes/NCAA\ Purdue\ Boilermakers.otf') format('opentype');
}

@font-face{
    font-family: footer_font;
    src: url("fontes/BreeSerif-Regular.ttf") format('truetype');
}

@font-face {
    font-family: paragrafos;
    src: url('fontes/open-sans/static/OpenSans/OpenSans-Medium.ttf');
}

:root{
    --cor1: ;
    --cor2: ;
    --cor3: ;
    --cor4: ;
    --cor5: ;
}





body{
    margin: 0px;
}

header#inicio{
    background-image: url(imagens/ifrjparacambilogo.jpg);
    background-repeat: no-repeat;
}

header > h1{
    margin: 0%;
    padding: 1px;
}
header{
    text-align: center;
    font-size: 30px;
    font-family: titulo;
    margin: 0px auto 0px auto;
    display: block;
}

main{
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    box-shadow: -1px 1px 0px black;
    box-shadow: 0px 0px 2px black;
    padding: 10px;
}

article > picture > img{
    display: block;
    margin: auto;
}



article > p, aside > p, li{
    font-family: paragrafos;
    text-align: justify;
    font-weight: 400;
    line-height: 1.5em;
}

article{
    margin: 5px;
}

article > h2, article > h3, article > h4, aside > h2{
    font-family: subtitulo;
    line-height: 1.9em;
}

aside{
    background-image: url(imagens/ifrjparacambilogo.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

footer{
    text-align: center;
    font-family: footer_font;
    font-weight: bold;
}

a:visited, a{
    text-decoration: none;
    color: black;
}

