@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url('fontes/VINTAGE\ COLLEGE\ DEPT_worn.otf') format('opentype');
  }

@font-face {
    font-family: subtitulo;
    src: url('fontes/NCAA\ Purdue\ Boilermakers.otf') format('opentype');
}
:root{
    --cor1: ;
    --cor2: ;
    --cor3: ;
    --cor4: ;
    --cor5: ;
}





body{
    margin: 0px;
}

header#inicio{
    background-image: url(imagens/ifrjparacambilogo.jpg);
    background-repeat: no-repeat;
}

header{
    text-align: center;
    font-size: 30px;
    font-family: titulo;

}

article > h1 h2 h3{
    font-family: subtitulo;
}


