@charset "UTF-8";


:root {
    --cor1: #595959;
    --cor2: #81A4CD;
    --cor3: #F8F4A6;
    --cor4: #475A70;
}




body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
}


header > h1{
    text-align: center;
}
header > img{
    display: block;
    margin: auto;
}

main{
    background-color: var(--cor4);
    width: 800px;
    margin: 0px auto 0px auto;
    padding: 5px;
}

main >  h1{
    background-image: linear-gradient(to right, var(--cor3), var(--cor2));
}

article > p{
    color: white;
    text-shadow: 1px 2px 1px black ;
}
img.img1{
    display: block;
    margin: 0px auto 0px auto;
}


footer#final{
    text-align: center;
    background-color: aliceblue;
    padding: 1px 0px 1px 0px;
    width: auto;
}


/*
div#video{
    position: relative;
    background-color: aqua;
    height: 0px;
    margin: 0px -20px 15px -20px;
    padding-bottom: 59%; 
}

div#video > iframe{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 90%;
}
*/